node-red/flows.json
[
  {
    "id": "3ce36b28d8af2d84",
    "type": "inject",
    "z": "cfc011788c186777",
    "name": "Send DEVC Handshake",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 120,
    "wires": [["968bced63493ec4c"]]
  },
  {
    "id": "968bced63493ec4c",
    "type": "function",
    "z": "cfc011788c186777",
    "name": "Build DEVC Line",
    "func": "// Build once-off login / handshake line for IXON\nconst DATA_SOURCE_IP  = \"127.0.0.1\";\nconst DATA_SOURCE_PWD = \"123456\";\nmsg.payload = `DEVC ${DATA_SOURCE_IP} ${DATA_SOURCE_PWD}\\r\\n`;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 120,
    "wires": [["a0c7b6c579f89861", "9241aa07867ece44"]]
  },
  {
    "id": "e66d41b4efc4237a",
    "type": "inject",
    "z": "cfc011788c186777",
    "name": "Get Host Location",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": false,
    "onceDelay": "10",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 260,
    "wires": [["1f5f216b64376915"]]
  },
  {
    "id": "1f5f216b64376915",
    "type": "http request",
    "z": "cfc011788c186777",
    "name": "Get Host Location Data",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.140.1/api/v1/system/location",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 390,
    "y": 260,
    "wires": [["d6c1e468aca69251"]]
  },
  {
    "id": "d6c1e468aca69251",
    "type": "function",
    "z": "cfc011788c186777",
    "name": "Format Host Location",
    "func": "// Format the host GPS location data\nif (msg.statusCode === 200 && msg.payload) {\n    const gpsData = msg.payload;\n    msg.payload = {\n        latitude:  gpsData.latitude  || 'N/A',\n        longitude: gpsData.longitude || 'N/A',\n        altitude:  gpsData.altitude  || 'N/A',\n        utc_time:  gpsData.utc_time  || 'N/A',\n        timestamp: new Date().toISOString(),\n        source:    'host-system',\n        success:   true\n    };\n    node.status({ fill: \"green\", shape: \"dot\", text: `Host GPS: ${gpsData.latitude}, ${gpsData.longitude}, ${gpsData.altitude}` });\n} else {\n    msg.payload = {\n        error:      `HTTP ${msg.statusCode}: ${msg.payload?.message || 'Request failed'}`,\n        statusCode: msg.statusCode,\n        timestamp:  new Date().toISOString(),\n        source:     'host-system',\n        success:    false\n    };\n    node.status({ fill: \"red\", shape: \"ring\", text: `Host HTTP ${msg.statusCode}` });\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 260,
    "wires": [["544df171a8f90447", "46bccd34011e572b"]]
  },
  {
    "id": "544df171a8f90447",
    "type": "debug",
    "z": "cfc011788c186777",
    "name": "Host Location Data",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 890,
    "y": 220,
    "wires": []
  },
  {
    "id": "46bccd34011e572b",
    "type": "function",
    "z": "cfc011788c186777",
    "name": "Build GPS Lines",
    "func": "if (msg.payload && msg.payload.latitude && msg.payload.longitude) {\n    const lat = Number(msg.payload.latitude).toFixed(6);\n    const lon = Number(msg.payload.longitude).toFixed(6);\n    const alt = Number(msg.payload.altitude).toFixed(6);\n    msg.payload = `@latitude=${lat}\\r\\n@longitude=${lon}\\r\\n@altitude=${alt}\\r\\n`;\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 400,
    "wires": [["a0c7b6c579f89861", "5ebc9c10d247036f"]]
  },
  {
    "id": "5ebc9c10d247036f",
    "type": "debug",
    "z": "cfc011788c186777",
    "name": "GPS Payload",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 530,
    "y": 460,
    "wires": []
  },
  {
    "id": "a0c7b6c579f89861",
    "type": "tcp out",
    "z": "cfc011788c186777",
    "name": "IXON TCP Persistent",
    "host": "192.168.140.1",
    "port": "9230",
    "beserver": "client",
    "base64": false,
    "end": false,
    "tls": "",
    "x": 740,
    "y": 360,
    "wires": []
  },
  {
    "id": "9241aa07867ece44",
    "type": "debug",
    "z": "cfc011788c186777",
    "name": "Handshake",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 120,
    "wires": []
  }
]
